<section class="wch-anturium-section">
    <div class="description">
        <h2 class="description-title">Anturium</h2>
        <div class="description-text">Tegoroczne Kwiaty Nocy zachwycą Cię głębią koloru! Pełne temperamentu Anturium to połączenie intensywnej czerwieni, skąpanej w połyskującej zieleni liści.
        </div>
        <button class="see-more-btn">Zobacz więcej
    <img src="../../assets/images/white-arrow.png" alt="">
</button>
    </div>
    <div class="grid">
        <img class="big-img" src="../../assets/images/anturium-section/left-img.png" alt="">
        <div class="card-1 card">
            <img class="card-img" src="../../assets/images/anturium-section/img-1.png" alt="">
            <div class="card-text">Kolczyki Kwiaty Nocy - cytrusy<span>299 zł</span></div>
            <img class="card-arrow" src="../../assets/images/card-arrow.png" alt="">
        </div>
        <div class="card-2 card">
            <img class="card-img" src="../../assets/images/anturium-section/img-2.png" alt="">
            <div class="card-text">Kolczyki Kwiaty Nocy - cytrusy<span>299 zł</span></div>
            <img class="card-arrow" src="../../assets/images/card-arrow.png" alt="">
        </div>
        <div class="card-3 card">
            <img class="card-img" src="../../assets/images/anturium-section/img-3.png" alt="">
            <div class="card-text">Kolczyki Kwiaty Nocy - cytrusy<span>299 zł</span></div>
            <img class="card-arrow" src="../../assets/images/card-arrow.png" alt="">
        </div>
        <div class="card-4 card">
            <img class="card-img" src="../../assets/images/anturium-section/img-4.png" alt="">
            <div class="card-text">Kolczyki Kwiaty Nocy - cytrusy<span>299 zł</span></div>
            <img class="card-arrow" src="../../assets/images/card-arrow.png" alt="">
        </div>
    </div>

</section>