<section class="wch-citrus-section">
    <div class="description">
        <h3 class="description-title">Cytrusy</h3>
        <p class="description-text">Tegoroczna odsłona Kwiatów Nocy czerpie inspiracje z sycylijskich darów natury. To
            włoskie la dolce vita, zamknięte w soczystych owocach cytryn i pomarańczy.</p>
    </div>
    <div class="imgs">
        <img class="citrus-desktop" src="../../assets/images/citrus-section/citrous-desktop.png" alt="citrus Image">
        <img class="citrus-mobile" src="../../assets/images/citrus-section/citrous-mobile.png" alt="citrus Image">
    </div>
</section>

