<section class="wch-first-carousel">
<!--<img src="../../assets/images/first-carousel/carousel-img1.jpg" alt="">-->
<!--<img src="../../assets/images/first-carousel/carusel-img3.png" alt="">-->
<!--<img src="../../assets/images/first-carousel/signature.jpg" alt="">-->
<!--<img src="../../assets/images/first-carousel/carousel-img2.jpg" alt="">-->
    <div class="wch-section-1_slider-container wch-slider-container second-variant">
        <div class="swiper-container">
            <div class="swiper-wrapper white-bg">
                <div class="swiper-slide">
  
  <a class="wch-slider-item" href="#" target="_blank">
      <div class="wch-slider-wrapper">
          <div class="card-1 card">
              <img class="card-img" src="../../assets/images/first-carousel/carousel-img1.jpg" alt="">
              <div class="card-text">Kolczyki Kwiaty Nocy - cytrusy<span>299 zł</span></div>
              <img class="card-arrow" src="../../assets/images/card-arrow.png" alt="">
          </div>
      </div>
  </a>
  

</div>

<div class="swiper-slide">
  
  <a class="wch-slider-item" href="#" target="_blank">
      <div class="wch-slider-wrapper">
          <div class="card-1 card">
              <img class="card-img" src="../../assets/images/first-carousel/carousel-img2.jpg" alt="">
              <div class="card-text">Kolczyki Kwiaty Nocy - cytrusy<span>299 zł</span></div>
              <img class="card-arrow" src="../../assets/images/card-arrow.png" alt="">
          </div>
      </div>
  </a>
  

</div>

<div class="swiper-slide">
  
  <a class="wch-slider-item" href="#" target="_blank">
      <div class="wch-slider-wrapper">
          <div class="card-1 card">
              <img class="card-img" src="../../assets/images/first-carousel/carousel-img3.png" alt="">
              <div class="card-text">Kolczyki Kwiaty Nocy - cytrusy<span>299 zł</span></div>
              <img class="card-arrow" src="../../assets/images/card-arrow.png" alt="">
          </div>
      </div>
  </a>
  

</div>

<div class="swiper-slide">
  
  <a class="wch-slider-item" href="#" target="_blank">
      <div class="wch-slider-wrapper">
          <div class="card-1 card">
              <img class="card-img" src="../../assets/images/first-carousel/carousel-img1.jpg" alt="">
              <div class="card-text">Kolczyki Kwiaty Nocy - cytrusy<span>299 zł</span></div>
              <img class="card-arrow" src="../../assets/images/card-arrow.png" alt="">
          </div>
      </div>
  </a>
  

</div>

<div class="swiper-slide">
  
  <a class="wch-slider-item" href="#" target="_blank">
      <div class="wch-slider-wrapper">
          <div class="card-1 card">
              <img class="card-img" src="../../assets/images/first-carousel/carousel-img2.jpg" alt="">
              <div class="card-text">Kolczyki Kwiaty Nocy - cytrusy<span>299 zł</span></div>
              <img class="card-arrow" src="../../assets/images/card-arrow.png" alt="">
          </div>
      </div>
  </a>
  

</div>

<div class="swiper-slide">
  
  <a class="wch-slider-item" href="#" target="_blank">
      <div class="wch-slider-wrapper">
          <div class="card-1 card">
              <img class="card-img" src="../../assets/images/first-carousel/carousel-img3.png" alt="">
              <div class="card-text">Kolczyki Kwiaty Nocy - cytrusy<span>299 zł</span></div>
              <img class="card-arrow" src="../../assets/images/card-arrow.png" alt="">
          </div>
      </div>
  </a>
  

</div>


            </div>
            <div class="wch-top-wrapper">
                <div class="wch-slider-arrows-wrapper">
                    <div class="wch-slider__arrow wch-slider__arrow--prev d-flex second-variant">
                        <svg width="30" height="14" viewBox="0 0 30 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.47225 13L8.1945 12.2778L3.44446 7.50004H28.8334V6.50004H3.41671L8.1945 1.75004L7.50004 1.02783L1.50004 7.00004L7.47225 13Z" fill="#BC9B6A" stroke="#BC9B6A"/>
                        </svg>
                    </div>
                    <div class="wch-slider__arrow wch-slider__arrow--next d-flex second-variant">
                        <svg width="30" height="14" viewBox="0 0 30 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M22.5278 13L21.8056 12.2778L26.5556 7.50004H1.16669V6.50004H26.5834L21.8056 1.75004L22.5 1.02783L28.5 7.00004L22.5278 13Z" fill="#BC9B6A" stroke="#BC9B6A"/>
                        </svg>
                    </div>
                </div>
            </div>
            <img class="wch-slider__see-more" src="../../assets/images/see-more-card.png">
        </div>

        </div>
</section>

