<section class="wch-first-offer">
    <div class="description">
        <h2 class="description-title">Więcej niż <br> biżuteria</h2>
        <div class="description-text">Tego lata zanurz się w świecie akcesoriów W.KRUK, dzięki którym wakacje zostaną z Tobą na dłużej.
        </div>
        <button class="description-button">Zobacz więcej
            <img src="../../assets/images/white-arrow.png" alt="">
        </button>
    </div>
    <div class="girl-top-img"></div>
    <div class="glasses-left-img"></div>
    <div class="glasses-bottom-img"></div>
    <div class="card-1 wch-card">
    <img class="wch-card-img" src="../../assets/images/first-offer/img-1.png" alt="">
    <div class="wch-card-text">Kolczyki Kwiaty Nocy - cytrusy<span>299 zł</span></div>
    <img class="wch-card-arrow" src="../../assets/images/card-arrow.png" alt="">
</div><div class="card-2 wch-card">
    <img class="wch-card-img" src="../../assets/images/first-offer/img-2.png" alt="">
    <div class="wch-card-text">Kolczyki Kwiaty Nocy - cytrusy<span>299 zł</span></div>
    <img class="wch-card-arrow" src="../../assets/images/card-arrow.png" alt="">
</div><div class="card-3 wch-card">
    <img class="wch-card-img" src="../../assets/images/first-offer/img-3.png" alt="">
    <div class="wch-card-text">Kolczyki Kwiaty Nocy - cytrusy<span>299 zł</span></div>
    <img class="wch-card-arrow" src="../../assets/images/card-arrow.png" alt="">
</div><div class="card-4 wch-card">
    <img class="wch-card-img" src="../../assets/images/first-offer/img-4.png" alt="">
    <div class="wch-card-text">Kolczyki Kwiaty Nocy - cytrusy<span>299 zł</span></div>
    <img class="wch-card-arrow" src="../../assets/images/card-arrow.png" alt="">
</div><div class="card-5 wch-card">
    <img class="wch-card-img" src="../../assets/images/first-offer/img-1.png" alt="">
    <div class="wch-card-text">Kolczyki Kwiaty Nocy - cytrusy<span>299 zł</span></div>
    <img class="wch-card-arrow" src="../../assets/images/card-arrow.png" alt="">
</div><div class="card-6 wch-card">
    <img class="wch-card-img" src="../../assets/images/first-offer/img-5.png" alt="">
    <div class="wch-card-text">Kolczyki Kwiaty Nocy - cytrusy<span>299 zł</span></div>
    <img class="wch-card-arrow" src="../../assets/images/card-arrow.png" alt="">
</div><div class="card-7 wch-card">
    <img class="wch-card-img" src="../../assets/images/first-offer/img-6.png" alt="">
    <div class="wch-card-text">Kolczyki Kwiaty Nocy - cytrusy<span>299 zł</span></div>
    <img class="wch-card-arrow" src="../../assets/images/card-arrow.png" alt="">
</div>
</section>

