<section class="wch-full-of-diversity">
    <img class="desktop-img" src="../../assets/images/full-of-diversity/desktop-img.png" alt="">
    <img class="mobile-img" src="../../assets/images/full-of-diversity/mobile-img.png" alt="">
    <div class="description">
        <h2 class="description-title">Pełne <br>rozmaitości</h2>
        <div class="description-text">Wyraziste owoce z kolekcji Cytrusy tworzą doskonałą kompozycję z minimalistyczną
            biżuterią.
        </div>
        <button class="description-button">Zobacz więcej
            <img src="../../assets/images/white-arrow.png" alt="">
        </button>
    </div>
</section>
