<section class="wch-lappetito-section">
    <div class="description-top description">
        <h1 class="description-title">L’appetito<br> vien  <br> mangiando</h1>
        <span class="description-quote">Apetyt rośnie w miarę jedzenia</span>
    </div>
    <img class="bracelet-img" src="../../assets/images/lappetito-section/bracelet.png" alt="">
    <div class="description description-bottom">
        <p class="description-text">Z biżuterią W.KRUK więcej znaczy lepiej! Twórz własne zestawy biżuterii i pokaż światu swój oryginalny styl!
        </p>
        <button class="see-more-btn">Zobacz więcej
    <img src="../../assets/images/white-arrow.png" alt="">
</button>
    </div>
    <img class="girls-desktop-img" src="../../assets/images/lappetito-section/girls-desktop.png" alt="">
    <img class="girls-mobile-img" src="../../assets/images/lappetito-section/girls-mobile.png" alt="">
</section>


