<section class="wch-night-flowers">
    <img class="left-img-desktop" src="../../assets/images/night-flowers/left-img-desktop.jpg" alt="">
    <img class="left-img-mobile" src="../../assets/images/night-flowers/left-img-mobile.png" alt="">
    <img class="bracelet-img" src="../../assets/images/night-flowers/bracelet-right.jpg" alt="">
    <img class="girl-bottom-img" src="../../assets/images/night-flowers/girl-bottom.jpg" alt="">
    <div class="description">
        <h3 class="description-title">Kwiaty<br> Nocy</h3>
        <p class="description-text">Zaprojektowane przez naturę, stworzone przez W.KRUK Kwiaty Nocy ponownie rozkwitły! 
            Tym razem przeniosą Cię do kraju soczystych cytrusów, gdzie słońce świeci przez 300 dni w roku!</p>
    </div>
</section>

