<section class="wch-second-offer">
    <img class="rings-right" src="../../assets/images/second-offer/rings-right.png" alt="">
    <img class="left-girl" src="../../assets/images/second-offer/left-girl.png" alt="">

    <div class="card-1 wch-card">
    <img class="wch-card-img" src="../../assets/images/second-offer/img-1.png" alt="">
    <div class="wch-card-text">Kolczyki Kwiaty Nocy - cytrusy<span>299 zł</span></div>
    <img class="wch-card-arrow" src="../../assets/images/card-arrow.png" alt="">
</div><div class="card-2 wch-card">
    <img class="wch-card-img" src="../../assets/images/second-offer/img-2.png" alt="">
    <div class="wch-card-text">Kolczyki Kwiaty Nocy - cytrusy<span>299 zł</span></div>
    <img class="wch-card-arrow" src="../../assets/images/card-arrow.png" alt="">
</div><div class="card-3 wch-card">
    <img class="wch-card-img" src="../../assets/images/second-offer/img-3.png" alt="">
    <div class="wch-card-text">Kolczyki Kwiaty Nocy - cytrusy<span>299 zł</span></div>
    <img class="wch-card-arrow" src="../../assets/images/card-arrow.png" alt="">
</div><div class="card-4 wch-card">
    <img class="wch-card-img" src="../../assets/images/second-offer/img-4.png" alt="">
    <div class="wch-card-text">Kolczyki Kwiaty Nocy - cytrusy<span>299 zł</span></div>
    <img class="wch-card-arrow" src="../../assets/images/card-arrow.png" alt="">
</div><div class="card-5 wch-card">
    <img class="wch-card-img" src="../../assets/images/second-offer/img-5.png" alt="">
    <div class="wch-card-text">Kolczyki Kwiaty Nocy - cytrusy<span>299 zł</span></div>
    <img class="wch-card-arrow" src="../../assets/images/card-arrow.png" alt="">
</div><div class="card-6 wch-card">
    <img class="wch-card-img" src="../../assets/images/second-offer/img-6.png" alt="">
    <div class="wch-card-text">Kolczyki Kwiaty Nocy - cytrusy<span>299 zł</span></div>
    <img class="wch-card-arrow" src="../../assets/images/card-arrow.png" alt="">
</div><div class="card-7 wch-card">
    <img class="wch-card-img" src="../../assets/images/second-offer/img-7.png" alt="">
    <div class="wch-card-text">Kolczyki Kwiaty Nocy - cytrusy<span>299 zł</span></div>
    <img class="wch-card-arrow" src="../../assets/images/card-arrow.png" alt="">
</div><div class="card-8 wch-card">
    <img class="wch-card-img" src="../../assets/images/second-offer/img-8.png" alt="">
    <div class="wch-card-text">Kolczyki Kwiaty Nocy - cytrusy<span>299 zł</span></div>
    <img class="wch-card-arrow" src="../../assets/images/card-arrow.png" alt="">
</div><div class="card-9 wch-card">
    <img class="wch-card-img" src="../../assets/images/second-offer/img-9.png" alt="">
    <div class="wch-card-text">Kolczyki Kwiaty Nocy - cytrusy<span>299 zł</span></div>
    <img class="wch-card-arrow" src="../../assets/images/card-arrow.png" alt="">
</div><div class="card-10 wch-card">
    <img class="wch-card-img" src="../../assets/images/second-offer/img-10.png" alt="">
    <div class="wch-card-text">Kolczyki Kwiaty Nocy - cytrusy<span>299 zł</span></div>
    <img class="wch-card-arrow" src="../../assets/images/card-arrow.png" alt="">
</div><div class="card-11 wch-card">
    <img class="wch-card-img" src="../../assets/images/second-offer/img-11.png" alt="">
    <div class="wch-card-text">Kolczyki Kwiaty Nocy - cytrusy<span>299 zł</span></div>
    <img class="wch-card-arrow" src="../../assets/images/card-arrow.png" alt="">
</div>

</section>
