<section class="wch-vacation-taste">
   <div class="description">
        <h2 class="description-title">Smak lata</h2>
        <div class="description-text">Pasja i piękno stały się dla nas włoskim symbolem lata! Biżuteria W.KRUK to efekt rzemieślniczej pracy,
            powstała na fali współczesnych trendów, który rozgrzeje wspomnienie lata bez względu na otaczającą Cię aurę.
        </div>
       <button class="see-more-btn">Zobacz więcej
    <img src="../../assets/images/white-arrow.png" alt="">
</button>
   </div>
    <div class="grid">
        <img class="big-img" src="../../assets/images/vacation-taste/big-img.png" alt="">
        <div class="card-1 wch-card">
    <img class="wch-card-img" src="../../assets/images/vacation-taste/img-1.png" alt="">
    <div class="wch-card-text">Kolczyki Kwiaty Nocy - cytrusy<span>299 zł</span></div>
    <img class="wch-card-arrow" src="../../assets/images/card-arrow.png" alt="">
</div><div class="card-2 wch-card">
    <img class="wch-card-img" src="../../assets/images/vacation-taste/img-2.png" alt="">
    <div class="wch-card-text">Kolczyki Kwiaty Nocy - cytrusy<span>299 zł</span></div>
    <img class="wch-card-arrow" src="../../assets/images/card-arrow.png" alt="">
</div><div class="card-3 wch-card">
    <img class="wch-card-img" src="../../assets/images/vacation-taste/img-3.png" alt="">
    <div class="wch-card-text">Kolczyki Kwiaty Nocy - cytrusy<span>299 zł</span></div>
    <img class="wch-card-arrow" src="../../assets/images/card-arrow.png" alt="">
</div><div class="card-4 wch-card">
    <img class="wch-card-img" src="../../assets/images/vacation-taste/img-4.png" alt="">
    <div class="wch-card-text">Kolczyki Kwiaty Nocy - cytrusy<span>299 zł</span></div>
    <img class="wch-card-arrow" src="../../assets/images/card-arrow.png" alt="">
</div>
    </div>

</section>
